
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    background: linear-gradient(rgb(226, 156, 24),rgb(177, 177, 250),orange);
}
.rightHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    width: 20%;
    height: 155px;
    border-radius: 15px;
    border-style: solid;
    font-size: 2.4vw;
    font-weight: bold;
    padding:10px;
    margin-right:10px;
    
}
.leftHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:transparent;
    width: 80%;
    height: auto;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
}
.pInside{
    font-size: 2vw;
    margin-top:0;
    margin-bottom:0;

}