
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
}
.rightHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(226, 156, 24),rgb(177, 177, 250),orange);
    width: 20%;
    height: 60px;
    font-size: 25px;
    font-weight: bold;

}
.leftHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgb(226, 156, 24),rgb(178, 178, 236),orange);
    width: 80%;
    height: 60px;
    font-size: 15px;
    font-weight: bold;
}