
.imageHolder{
    border-radius: 15px;
    width: auto;
    height:300px;
    background: black;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 5px;
}
img{
    width: auto;
    height: 150px;
    border-radius: 15px;
}